.Header {
  color: white;
  text-align: center;
  cursor: pointer;
}

.Content{
  display: flex;
  justify-content: center;
}

.Description{
  padding: 1rem;
}

.DescriptionText{
  align-items: center;
  justify-content: center;
  display: flex;
}

.Subtitle{
  width: 70%;
}

.Thanks{
  margin-top: 1rem;
}

.ButtonQuestion{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.MuseumQuestion{
  background-color: #001529;
  color: white;
  padding: 1rem;
  text-align: center;
}

.UsersQuestions {  
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
}

.FormAndImages{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.QuestionForm{
  flex: 0 0 50%; 
}

.QuestionInput{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.Footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.LogoFilo{
  width: 184px;
  height: 82px;
}

.LogoMuseo{
  margin-left: 1rem;
}

.ImagenMuseo1{
  margin-left: 2rem;
  
}

.ImagenMuseo2{
  margin-right: 4rem;
}

.SubmitQuestion {
  display: flex;
  justify-content: center;
  text-align: center;
}